<!doctype html>
<html class="no-js" lang="en" dir="ltr" ng-app="App">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MeWe Test</title>
  <link rel="stylesheet" href="deps/foundation.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.7/css/angular-datatables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">

</head>

<body>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h1>MeWe Front-End JavaScript Developers Test</h1>
        <br>
      </div>
    </div>

    <div ng-controller="MainController as vm">
      <div class="grid-x grid-padding-x" ng-if="vm.load">
        <div class="large-12 medium-12 cell">
          <div ng-controller="BarGraphController as vm">
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                <div class="callout">
                  <nvd3 options="options" data="data"></nvd3>
                  <div class="small-3 columns" style="width: 125px;">
                    <label>Select Filter</label>
                    <select name="graphfilter" ng-model="vm.filter" ng-change="vm.onFilter();">
                      <option value="all" selected="true">All</option>
                      <option value="completed">Completed</option>
                      <option value="incomplete">Not Completed</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-x grid-padding-x">
            <div class="large-6 medium-6 cell">
              <div class="success callout">
                <to-do-counter value="vm.data" counter-type="'completed'"></to-do-counter>
              </div>
            </div>
            <div class="large-6 medium-6 cell">
              <div class="alert callout">
                <to-do-counter value="vm.data" counter-type="'incomplete'"></to-do-counter>
              </div>
            </div>
          </div>

          <div class="grid-x grid-padding-x">

            <div class="large-8 medium-8 small-8 cell">
              <div class="callout">
                <table-data value="vm.data"></table-data>
              </div>
            </div>

            <div class="large-4 medium-4 small-4 cell">
              <div ng-controller="BonusFeatureController as vm">
                <div class="callout">
                  <div class="large-6 columns">
                      <label>Select Filter</label>
                      <input type="radio" name="filter" value="completed" id="filterComp" ng-model="vm.filter" ng-change="vm.onFilter();">
                      <label for="filterComp">Completed</label>
                      <input type="radio" name="filter" value="incomplete" id="filterIncom" ng-model="vm.filter" ng-change="vm.onFilter();">
                      <label for="filterIncom">Not Completed</label>
                    </div>
                  <nvd3 options="options" data="data"></nvd3>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- jQuery datatable dependency -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <!-- core angular.js and other library/ies -->
    <script src="deps/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>

    <!-- angular datables library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.7/angular-datatables.min.js"></script>

    <!-- angular nvD3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>

    <!-- controllers -->
    <script src="controller/main.controller.js"></script>
    <script src="controller/bargraph/bargraph.controller.js"></script>
    <script src="controller/todo-counter/todo-counter.controller.js"></script>
    <script src="controller/data-table/data-table.controller.js"></script>
    <script src="controller/bonus-feature/bonus-feature.controller.js"></script>

    <!-- factory/service -->
    <script src="service/api.service.js"></script>

</body>

</html>